# Node modules
node_modules/

# dotenv env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS generated
.DS_Store
Thumbs.db

# Build output
dist/
build/
public/img_upload/   # ถ้าอัปโหลดไฟล์ไว้ตรงนี้แบบชั่วคราว

# IDE / Editor
.vscode/
.idea/

# Test coverage
coverage/

# Optional npm cache
.npm/

# TypeScript
*.tsbuildinfo
